<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Téléchargement" icon-off="ion-ios-cloud-download-outline" icon-on="ion-ios-cloud-download"
           href="#/app/download">
    <ion-nav-view name="app-download">
      <download-template></download-template>
    </ion-nav-view>
  </ion-tab>

  <ion-tab title="Historique" icon-off="ion-ios-time-outline" icon-on="ion-ios-time"
           href="#/app/history">
    <ion-nav-view name="app-history" >
      <history-template></history-template>
    </ion-nav-view>
  </ion-tab>

</ion-tabs>
